// Masonry CodePen styles

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body {
  font-family: 'Lato', sans-serif;
  h1 {
    font-weight: 100 !important;
    text-align: right;
    padding: 0 5px;
    margin: 0;
  }
 }

/* ---- grid ---- */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
  padding: 0 5px 5px 5px;
}
